/*backgrounds*/

body {
    background-image: url("portfoliobg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    height: 70px;
    z-index: 0;
    margin: 15px;
    border-radius: 20px;
    width: 96%;
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    margin-top: 15px;
}

/*logo*/

#logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 10px
}

a {
    text-decoration: none;
}


#logo h2 {
    font-family: 'Blanka';
    /*color: #408eed;*/
    color: red;
    letter-spacing: 5px;
    font-size: 30px;
    text-shadow: 0 0 20px rgb(162, 218, 255);
    position: relative;
    bottom: 5px;
}

#logo h2:hover {
    text-shadow: 0 0 26px rgb(162, 218, 255);
}


 #home-text {
    color: white;
    font-family: 'Josefin Sans';                         
}

#home-text:hover {
    text-shadow: 0px 0px 35px rgb(252, 252, 252), 0px 0px 35px rgb(95, 149, 244), 0px 0px 25px white;
}

/*navigation bar*/

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

nav ul li a {
    color: white;
    font-family: 'Josefin Sans'; 
    text-decoration: none;
}

nav ul li a:hover{
    text-shadow: 0px 0px 35px rgb(252, 252, 252), 0px 0px 35px rgb(95, 149, 244), 0px 0px 25px white;
}

/*intro-text*/

#intro-text{
    color: white;
    margin: 30px;
    position: relative;
}

#intro-text h3 {
    font-family: 'Josefin Sans';
    line-height: 80px;
}

#intro-text h1 {
    font-family: 'Josefin Sans';
    line-height: 80px;
    font-size: 40px;
}

#intro-text #description {
    line-height: 20px;
    position: relative;
    top: 55px;
}

/*link-buttons*/



button {
    color: white;
    font-family: 'Josefin Sans';
    font-size: 20px;
    background-color: black;
    width: 180px;
    height: 55px;
    border-radius: 8px;
    border-style: solid;
    text-align: center;
    border-color: transparent;
    position: relative;
    z-index: 5;
}


.outer-buttons {
    width: 200px;
    height: 70px;
    background-image: linear-gradient(40deg, #3dabfa, #8e40ed, #b940ed);
    border-radius: 8px;
    text-align: center;
}

button:hover {
    box-shadow: 0 0 20px rgb(35, 174, 249), 0 0 35px rgb(183, 28, 222), 0 0 50px rgb(126, 157, 237); 
}

#contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#eduAndskills-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#workExperience-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    height: 233px;
    width: 566px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    position: relative;
    left: 700px;
    bottom: 40px;
}

footer {
    background-color: black;
    color: white;
    padding: 60px;
}